@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-scroll {
  animation: scroll 2s ease-in-out forwards;
}

@keyframes scroll {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.terminal {
  display: block;
  unicode-bidi: isolate;

  & p {
    width: 0;
    margin: 5 0;
    font-size: 1.2rem;
    color: #20c20e;
    overflow: visible;
    font-family: monospace;
    white-space: nowrap;
    display: block;
    -webkit-animation-name: writeText;
    animation-name: writeText;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

#terminalEditor {
  width: 600px;
  height: 630px;
  min-height: 630px;
  max-height: 100vh;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  font-size: 1.1rem;
  display: block;
    -webkit-animation-name: writeText;
    animation-name: writeText;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}